:root {
    --text-color: #FFFFFF;
    --bg-color: #000000;
    --bg-color-main: #CFCFCF;
    --bg-color-secondary: #303030;
    --accent-color: #FFD700;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    gap: 1300px;
    background-color: var(--bg-color-secondary);
}

.header__title {
    text-align: center;
    color: var(--accent-color);
}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.navigation__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--accent-color);
}